.countries {
  display: flex;
}

/* Add your own CSS code below */
.countries--first .country--ethiopia{
  align-self: last baseline;

}
.countries--second{
  flex-direction: row;
  align-items: center;
}
.countries--second .country--ethiopia{
 align-self: end;
}
.countries--third{
  flex-direction: row ;
 align-items: baseline;
}
.countries--third .country--croatia  {
 align-self: end;
 
}.countries--third .country--ethiopia{
align-self: end;
}
.countries--third .country--laos {
  align-self: end;
}

.countries--fourth{
  flex-direction: column;
 align-items: first baseline;
}
.countries--fourth .country--ethiopia {
  align-self: first baseline;
}
.countries--fourth .country--laos{
  align-self: baseline;
}
.countries--fourth .country--uganda{
  align-self: center;
}