@media screen and (min-width: 481px) {
  .site-header__nav {
    display: flex;
  }
}

@media screen and (min-width: 701px) {
  .site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .site-header__nav {
    flex: 1;
  }
}

@media screen and (min-width: 993px) {
  .site-header {
    justify-content: center;
  }
  
  .site-header__checkout {
    margin-left: auto;
  }
}
